<register-modal params="baseURL: baseURL, threshold: threshold" class="modal fade" id="newPledge" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></register-modal>

<div class="card-deck-wrapper">
	<div class="card-deck">
		<div class="card text-xs-center">
			<div class="card-block">
				<div class="row">
					<div class="col-xs-12">
						<button role="button" class="pledgebtn btn btn-lg btn-danger card-title hidden-sm-down" data-toggle="modal" data-target="#newPledge">
							DONATE
						</button>
						<a href="#register" role="button" class="btn btn-lg btn-danger card-title hidden-md-up" href="#register"> DONATE </a>
						<br>
                        <p class="tagline">
                        Donate 1&cent; every time a caller makes 50+ calls in a day.
                        </p>
                        <p class="subhead">
                        Yesterday, a 1&cent; pledge would have totaled <!--CHANGE THIS TO A VARIABLE--> <b>$1.40</b>.
                        </p>
						<ul class="homepoints card-text text-xs-left">
                            <li>
								Donate here to <b>double</b> the impact of your donation.
							</li>
                            <li>
								Every donation will increase the amount of volunteers by giving them a direct incentive.
							</li>
                            <li>
                                If 1/10 of one day's donors donated through here, <i>anyone</i> could bring in <b>$10</b> by spending 30 minutes making calls.
							</li>
						</ul>
                        <hr class="pledgetocall"/>
                        <a href="http://berniepb.com" class="btn btn-lg btn-danger">MAKE CALLS</a>
						<br>
                        <p class="tagline">
                            Callers: if you make 50+ calls today, Bernie will receive $X.XX
                        </p>
                        <ul class="homepoints card-text text-xs-left">
							<li>
                                It takes about 30 minutes to make 50 calls.
							</li>
                            <li>
								In that time, <b>you</b> can directly guarentee a $X.XX donation.
							</li>
                            <li>
								Click the button above to start making calls.
							</li>
						</ul>
                        <hr class="pledgetocall"/>
                        <p class="tagline">
                            Why donate?
                        </p>
                        <ul class="homepoints card-text text-xs-left">
                            <li>
								Bernie needs 6.5 in 10 of the remaining votes to win the majority. 
							</li>
                            <li>
								With the entire Republican party freed up, this is very doable.
							</li>
						</ul>
					</div>
				</div>
				<br>
				<br>
				<div class="hidden-sm-down">
					<div class="row">
						<div class="col-xs-6">
							<hr class="hr-blue">
						</div>
						<div class="col-xs-2"></div>
						<div class="col-xs-4">
							<hr class="hr-green">
						</div>
					</div>
					<div class="row">
						<div class="bernie-ltblue">
							<div class="col-xs-2">
								<p class="card-text">
									Individual Pledges
								</p>
							</div>
							<div class="col-xs-2">
								<p class="card-text">
									Ringmakers Yesterday
								</p>
							</div>
							<div class="col-xs-2">
								<p class="card-text">
									Ringmakers Alltime
								</p>
							</div>
						</div>
						<div class="col-xs-2"></div>
						<div class="green">
							<div class="col-xs-2">
								<p class="card-text">
									Pledged Yesterday
								</p>
							</div>
							<div class="col-xs-2">
								<p class="card-text">
									Total Contributions
								</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="bernie-ltblue">
							<div class="col-xs-2">
								<h4 class="" data-bind="text: pledgesTotal"></h4>
							</div>
							<div class="col-xs-2">
								<h4 class="" data-bind="text: prevCallers"></h4>
							</div>
							<div class="col-xs-2">
								<h4 class="" data-bind="text: sumCallers"></h4>
							</div>
						</div>
						<div class="col-xs-2"></div>
						<div class="green">
							<div class="col-xs-2">
								<h4 class="" data-bind="text: prevRaised"></h4>
							</div>
							<div class="col-xs-2">
								<h4 class="" data-bind="text: raised"></h4>
							</div>
						</div>
					</div>
				</div>
				<div class="hidden-md-up text-xs-left">
					<div class="row bernie-ltblue">
						<div class="col-xs-9">
							<h4 class="card-text">
								Individual Pledges
							</h4>
						</div>
						<div class="col-xs-3 text-xs-right">
							<h4 class="" data-bind="text: pledgesTotal"></h4>
						</div>
					</div>
					<div class="row bernie-ltblue">
						<div class="col-xs-9">
							<h4 class="card-text">
								Ringmakers Yesterday
							</h4>
						</div>
						<div class="col-xs-3 text-xs-right">
							<h4 class="" data-bind="text: prevCallers"></h4>
						</div>
					</div>
					<div class="row bernie-ltblue">
						<div class="col-xs-9">
							<h4 class="card-text">
								Ringmakers Alltime
							</h4>
						</div>
						<div class="col-xs-3 text-xs-right">
							<h4 class="" data-bind="text: sumCallers"></h4>
						</div>
					</div>
					<div class="row green">
						<div class="col-xs-9">
							<h4 class="card-text">
								Pledged Yesterday
							</h4>
						</div>
						<div class="col-xs-3 text-xs-right">
							<h4 class="" data-bind="text: prevRaised"></h4>
						</div>
					</div>
					<div class="row green">
						<div class="col-xs-9">
							<h4 class="card-text">
								Raised Alltime
							</h4>
						</div>
						<div class="col-xs-3 text-xs-right">
							<h4 class="" data-bind="text: raised"></h4>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<line-graph params="hist: histCallers"></line-graph>
				</div>
			</div>
		</div>
	</div>
</div>
