<register-modal params="baseURL: baseURL, threshold: threshold" class="modal fade" id="newPledge" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></register-modal>

<div class="card-deck-wrapper">
	<div class="card-deck">
		<div class="card text-xs-center">
			<div class="card-block">
				<div class="row">
					<div class="col-xs-12">
						<button role="button" class="pledgebtn btn btn-lg btn-danger card-title hidden-sm-down" data-toggle="modal" data-target="#newPledge">
							DONATE
						</button>
						<a href="#register" role="button" class="btn btn-lg btn-danger card-title hidden-md-up" href="#register"> DONATE </a>
						<br>
                        <p class="tagline">
                        Donate 1&cent; every time a caller makes 50+ calls in a day.
                        </p>
                        <p class="subhead">
                        Donating here will <b>double</b> your impact.
                        </p>                        
                        <div class="row">
							<ul class="homepoints card-text text-xs-left col-xs-7">
								<li>
                                Yesterday, a 1&cent; pledge would have totaled <!--CHANGE THIS TO A VARIABLE--> <b>$<span data-bind="text: totaledYesterday" >1.40</span></b>.</li>
                                <li>
								Every donation will increase volunteering by giving a direct incentive to make calls.
                                </li>
                                <li>
                                If 1000 people donate here, 30 minutes of calling will bring in <b>$10</b>.
                                </li>
                                <li>We don't take any money directly. We'll email you a link to a secure <a href="https://secure.actblue.com/contribute/page/bernbank" target="_blank" class="actbluelink">ActBlue</a> page where you can fulfill your pledge at the end of each week.
                                </li>
							</ul>
							<div class="donatestats col-xs-5">
                                <div class="col-xs-12">
										<hr class="hr-blue">
								</div>
								<div class="donate-stats">
									<div class="row donate-stats-numbers">
										<div class="bernie-red">
											<div class="col-xs-4">
												<h4 class="" data-bind="text: pledgesTotal"></h4>
											</div>
										</div>
										<div class="bernie-red">
											<div class="col-xs-4">
												<h4 class="" data-bind="text: prevRaised"></h4>
											</div>
											<div class="col-xs-4">
												<h4 class="" data-bind="text: raised"></h4>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="bernie-red">
											<div class="col-xs-4">
												<p class="card-text">
													Individual Pledges
												</p>
											</div>
										</div>
										<div class="bernie-red">
											<div class="col-xs-4">
												<p class="card-text">
													Pledged Yesterday
												</p>
											</div>
											<div class="col-xs-4">
												<p class="card-text">
													Total Contributions
												</p>
											</div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
                        <hr class="pledgetocall"/>
                        <a href="http://berniepb.com" target="_blank" class="btn btn-lg btn-danger">MAKE CALLS</a>
						<br>
                        <p class="tagline">
                            Callers: If you make 50+ calls today, Bernie will receive $<span data-bind="text: totaledYesterday" >1.40</span>.
                        </p>
                        
                        <div class="row">
							<ul class="homepoints card-text text-xs-left col-xs-7 makecalls-bullet">
								<li>
									It takes about 30 minutes to make 50 calls.
								</li>
								<li>
									In that time, <b>you</b> can directly bring in a $<span data-bind="text: totaledYesterday" >1.40</span> donation.
								</li>
								<li>
									Click the button above to start making calls.
								</li>
							</ul>

							<div class="col-xs-5">
								<div class="row">
									<div class="col-xs-12">
										<hr class="hr-blue">
									</div>
								</div>
								<div class="row donate-stats-numbers">
									<div class="bernie-red">
										<div class="col-xs-6">
											<h4 class="" data-bind="text: prevCallers"></h4>
										</div>
										<div class="col-xs-6">
											<h4 class="">0</h4>
											<!--<h4 class="" data-bind="text: sumCallers"></h4>-->
										</div>
									</div>
								</div>
								<div class="stattext row">
									<div class="bernie-red">
										<div class="col-xs-6">
											<p class="card-text">
												Callers at 50+ Yesterday
											</p>
										</div>
										<div class="col-xs-6">
											<p class="card-text">
												Callers at 50+ Since Launch
											</p>
										</div>
									</div>
								</div>

							</div>


						</div>
						
						
						<br />
						
                        <hr class="pledgetocall2"/>
                        <p class="tagline">
                            Why donate?
                        </p>
                        
                        <div class="row">
							<ul class="homepoints card-text text-xs-left">
								<li>
									<!--MAKE THESE VARIABLES-->The pledged delegates count is only 1705-1414, with 932 remaining. 
								</li>
								<li>
									Bernie needs 6.5 in 10 of the remaining votes to win the majority of pledged delegates, and he is likely to win most of the remaining states. 
								</li>
								<li>
									With the entire Republican party freed up to vote for anyone, this is very doable.
								</li>
								<li>
									It is mathematically <i>very unlikely</i> that any candidate will win the majority of total Democratic delegates. 
								</li>
								<li>
									Bernie Sanders is the only candidate in the world who wins every general election matchup.
								</li>
								<li>
									Hillary Clinton loses to Donald Trump in some polls; Bernie Sanders does not.
								</li>
								<li>
									Even if Bernie does not win the nomination, every vote he gets gives him more influence to change the official platform of the Democratic Party.
								</li>
							</ul>
						</div>
						
						<hr class="pledgetocall"/>
						
                        <p class="tagline">Contact us at: BernBank [at] FeelTheBern [dot] org</p>
                        
                        <hr class="pledgetocalllast"/>
                        
					</div>
				</div>
				<!--
				<div class="hidden-sm-down">
					<div class="row">
						<div class="col-xs-6">
							<hr class="hr-blue">
						</div>
						<div class="col-xs-2"></div>
						<div class="col-xs-4">
							<hr class="hr-green">
						</div>
					</div>
					<div class="row">
						<div class="bernie-ltblue">
							<div class="col-xs-2">
								<p class="card-text">
									Individual Pledges
								</p>
							</div>
							<div class="col-xs-2">
								<p class="card-text">
									Ringmakers Yesterday
								</p>
							</div>
							<div class="col-xs-2">
								<p class="card-text">
									Ringmakers Alltime
								</p>
							</div>
						</div>
						<div class="col-xs-2"></div>
						<div class="green">
							<div class="col-xs-2">
								<p class="card-text">
									Pledged Yesterday
								</p>
							</div>
							<div class="col-xs-2">
								<p class="card-text">
									Total Contributions
								</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="bernie-ltblue">
							<div class="col-xs-2">
								<h4 class="" data-bind="text: pledgesTotal"></h4>
							</div>
							<div class="col-xs-2">
								<h4 class="" data-bind="text: prevCallers"></h4>
							</div>
							<div class="col-xs-2">
								<h4 class="" data-bind="text: sumCallers"></h4>
							</div>
						</div>
						<div class="col-xs-2"></div>
						<div class="green">
							<div class="col-xs-2">
								<h4 class="" data-bind="text: prevRaised"></h4>
							</div>
							<div class="col-xs-2">
								<h4 class="" data-bind="text: raised"></h4>
							</div>
						</div>
					</div>
				</div>
				<div class="hidden-md-up text-xs-left">
					<div class="row bernie-ltblue">
						<div class="col-xs-9">
							<h4 class="card-text">
								Individual Pledges
							</h4>
						</div>
						<div class="col-xs-3 text-xs-right">
							<h4 class="" data-bind="text: pledgesTotal"></h4>
						</div>
					</div>
					<div class="row bernie-ltblue">
						<div class="col-xs-9">
							<h4 class="card-text">
								Ringmakers Yesterday
							</h4>
						</div>
						<div class="col-xs-3 text-xs-right">
							<h4 class="" data-bind="text: prevCallers"></h4>
						</div>
					</div>
					<div class="row bernie-ltblue">
						<div class="col-xs-9">
							<h4 class="card-text">
								Ringmakers Alltime
							</h4>
						</div>
						<div class="col-xs-3 text-xs-right">
							<h4 class="" data-bind="text: sumCallers"></h4>
						</div>
					</div>
					<div class="row green">
						<div class="col-xs-9">
							<h4 class="card-text">
								Pledged Yesterday
							</h4>
						</div>
						<div class="col-xs-3 text-xs-right">
							<h4 class="" data-bind="text: prevRaised"></h4>
						</div>
					</div>
					<div class="row green">
						<div class="col-xs-9">
							<h4 class="card-text">
								Raised Alltime
							</h4>
						</div>
						<div class="col-xs-3 text-xs-right">
							<h4 class="" data-bind="text: raised"></h4>
						</div>
					</div>
				</div>
				-->
				<div class="row">
					<line-graph params="hist: histCallers"></line-graph>
				</div>
				
				
			</div>
		</div>
	</div>
</div>
