<register-modal params="baseURL: baseURL, threshold: threshold" class="modal fade" id="newPledge" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></register-modal>

<div class="card-deck-wrapper">
	<div class="card-deck">
		<div class="card text-xs-center">
			<div class="card-block">
				<div class="row">
					<div class="col-xs-12">
						<button role="button" class="btn btn-lg btn-danger card-title hidden-sm-down" data-toggle="modal" data-target="#newPledge">
							Pledge to Donate
						</button>
						<a href="#register" role="button" class="btn btn-lg btn-danger card-title hidden-md-up" href="#register"> Pledge to Donate </a>
						<br>
						<ul class="card-text text-xs-left">
							<li>
								Pledge to donate between <strong>1&cent;</strong> and <strong>5&cent;</strong> for every caller that makes at least <b data-bind="text: threshold"></b> calls in a day (Ringmakers) using <a href="https://berniepb.com" target="_blank">BerniePB.com</a>.
							</li>

							<li>
								Every week we will email your suggested donation and a link that will take you to an <a href="https://actblue.com" target="_blank">ActBlue</a> fundraising page for Bernie 2016.
							</li>
							<li>
								Your pledge is just a suggested donation to help encourage our wonderful volunteers to make a few more calls. You will be able to contribute any legal amount.
							</li>
							<li>
								You may opt-out at any time simply by unsubscribing from our emails.
							</li>
						</ul>
					</div>
				</div>
				<br>
				<br>
				<div class="hidden-sm-down">
					<div class="row">
						<div class="col-xs-6">
							<hr class="hr-blue">
						</div>
						<div class="col-xs-2"></div>
						<div class="col-xs-4">
							<hr class="hr-green">
						</div>
					</div>
					<div class="row">
						<div class="bernie-ltblue">
							<div class="col-xs-2">
								<p class="card-text">
									Individual Pledges
								</p>
							</div>
							<div class="col-xs-2">
								<p class="card-text">
									Ringmakers Yesterday
								</p>
							</div>
							<div class="col-xs-2">
								<p class="card-text">
									Ringmakers Alltime
								</p>
							</div>
						</div>
						<div class="col-xs-2"></div>
						<div class="green">
							<div class="col-xs-2">
								<p class="card-text">
									Pledged Yesterday
								</p>
							</div>
							<div class="col-xs-2">
								<p class="card-text">
									Total Contributions
								</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="bernie-ltblue">
							<div class="col-xs-2">
								<h4 class="" data-bind="text: pledgesTotal"></h4>
							</div>
							<div class="col-xs-2">
								<h4 class="" data-bind="text: prevCallers"></h4>
							</div>
							<div class="col-xs-2">
								<h4 class="" data-bind="text: sumCallers"></h4>
							</div>
						</div>
						<div class="col-xs-2"></div>
						<div class="green">
							<div class="col-xs-2">
								<h4 class="" data-bind="text: prevRaised"></h4>
							</div>
							<div class="col-xs-2">
								<h4 class="" data-bind="text: raised"></h4>
							</div>
						</div>
					</div>
				</div>
				<div class="hidden-md-up text-xs-left">
					<div class="row bernie-ltblue">
						<div class="col-xs-9">
							<h4 class="card-text">
								Individual Pledges
							</h4>
						</div>
						<div class="col-xs-3 text-xs-right">
							<h4 class="" data-bind="text: pledgesTotal"></h4>
						</div>
					</div>
					<div class="row bernie-ltblue">
						<div class="col-xs-9">
							<h4 class="card-text">
								Ringmakers Yesterday
							</h4>
						</div>
						<div class="col-xs-3 text-xs-right">
							<h4 class="" data-bind="text: prevCallers"></h4>
						</div>
					</div>
					<div class="row bernie-ltblue">
						<div class="col-xs-9">
							<h4 class="card-text">
								Ringmakers Alltime
							</h4>
						</div>
						<div class="col-xs-3 text-xs-right">
							<h4 class="" data-bind="text: sumCallers"></h4>
						</div>
					</div>
					<div class="row green">
						<div class="col-xs-9">
							<h4 class="card-text">
								Pledged Yesterday
							</h4>
						</div>
						<div class="col-xs-3 text-xs-right">
							<h4 class="" data-bind="text: prevRaised"></h4>
						</div>
					</div>
					<div class="row green">
						<div class="col-xs-9">
							<h4 class="card-text">
								Raised Alltime
							</h4>
						</div>
						<div class="col-xs-3 text-xs-right">
							<h4 class="" data-bind="text: raised"></h4>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<line-graph params="hist: histCallers"></line-graph>
				</div>
			</div>
		</div>
	</div>
</div>
