<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="wontbestoppeddiv modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<h4 class="wontbestopped modal-title bernie-red">We will not be stopped</h4>
		</div>
		
		<div class="wrapper-stopped">
			<div class="belowwontbestopped modal-body text-xs-center" style=''>
			
				<!-- Validation messages -->
				<div class="error-messages" data-bind="visible: errors().length > 0, foreach: errors">
					<div class="alert alert-danger alert-dismissible fade in" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<span data-bind="text: $data"></span>
					</div>
				</div>
				<p class="foreveryvolunteer">
					For every volunteer who makes <span data-bind="text: threshold"></span>+ calls in a day, I will donate
					<input id="slider1" type="range" min="1" max="20" step="1" data-bind="value: slider" />
					<label class="label label-danger"><span data-bind="text: slider"></span>&cent;</label>
					to Bernie's campaign.
				</p>
				<p class="foreveryvolunteer2">
					We'll email you at the end of each week with your pledge total. Feel free to opt-out at any time.
				</p>
                <p class="foreveryvolunteer2">
					You can donate any amount right now <a href="https://secure.actblue.com/contribute/page/bernbank" target="_blank" class="lightred">here</a>.
				</p>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<form>
					<fieldset class="form-group">
						<!--<label for="email" class="bernie-ltgrey">Email address</label>-->
						<input type="email" class="form-control" id="email" placeholder="Email Address" required data-bind="textInput: userEmail">
					</fieldset>
					<button type="button" class="btn btn-danger" data-bind="click: postPledge">
						COUNT ME IN!
					</button>
				</form>
				
			</div>
			
		</div>
	</div>
</div>
