.bernie-ltblue {
	color: #147FD7;
}

.bernie-blue {
	color: #0073DA;
}

.bernie-red {
	color: #EF3C37;
}

.bernie-grey {
	color: #A6B6C6;
}

.bernie-ltgrey {
	color: #EDF0F7;
}

.green {
	color: rgb(143,203,143);
}

.axis text {
	fill: #147FD7;
}

body {
	background: repeating-linear-gradient(
	-45deg,
	#2186d9,
	#2186d9 3px,
	#3e96de 3px,
	#3e96de 6px
	);
}

p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

h4 {
	font-family: Helvetica, sans-serif;
	font-variant: small-caps;
	font-weight: 600;
}

a {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #EF3C37;
}

ul {
	list-style-type: none;
	color: #147FD7;
}

li {
	padding-top: .25em;
	padding-left: 30px;
	text-indent: -1.5em;
}

li:before {
	content: "\f058";
	font-family: FontAwesome;
	color: #ff5757;
	margin-right: .4em;
}

hr.hr-blue {
	height: 2px;
	background: #147FD7;
	border-radius: 3px;
    margin-top: 11px;
}

hr.hr-green {
	height: 2px;
	background: rgb(143,203,143);
	border-radius: 3px;
}

path {
	stroke: #147FD7;
	stroke-width: 2;
	fill: none;
}

.axis path, .axis line {
	fill: none;
	stroke: #A6B6C6;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

#page {
	margin-top: 0px;
}

.pledgebtn {
    font-weight: 500;
    font-size: 1.4em;
    font-family: 'Raleway', sans-serif;
    margin: 7px;
}

.bernbanklogo {
    margin: 10px;
    margin-bottom: 10px;
}

.tagline {
    /*font-weight: 600;
    font-size: 1.4em;
    margin: 15px;
    color: #147FD7;
    font-family: 'Playfair Display SC', serif;*/
    font-weight: 500;
    font-size: 1.5em;
    margin: 25px;
    color: #147FD7;
    font-family: 'Raleway', sans-serif;
}

.homepoints {
    font-family: 'Lora', serif;
    font-size: 1.15em;
}

.pledgetocall {
    color:#147FD7;
    margin-top: 20px;
    margin-bottom: 25px;
    clear:both;
}

.subhead {
    font-weight: 500;
    font-size: 1.25em;
    margin: 25px;
    color: #147FD7;
    font-family: 'Raleway', sans-serif;
}


.donate-stats-numbers h4 {
	font-size:3em;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.wontbestopped {
    text-align: center;
    margin: 0px 0px 0px 25px;
    padding: 0px;
    font-size: 2em;
    font-family: 'Lora', sans-serif;
}

.foreveryvolunteer {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
}

.wontbestoppeddiv {
    padding: 10px;
}

.makecalls-bullet {
	padding-left:44px;
}
.foreveryvolunteer2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1em;
    text-shadow: 0 0 10px #ffffff;
}

.belowwontbestopped {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,7db9e8+100,000000+100&1+0,0+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.donatestats {
    font-family: 'Raleway', sans-serif;
}
.donate-stats {
    font-family: 'Raleway', sans-serif;
}

.stattext {
    font-family: 'Raleway', sans-serif;
    font-size: .7em;
}
