.bernie-ltblue {
	color: #147FD7;
}

.bernie-blue {
	color: #0073DA;
}

.bernie-red {
	color: #EF3C37;
}

.bernie-grey {
	color: #A6B6C6;
}

.bernie-ltgrey {
	color: #EDF0F7;
}

.red-text {
	color: #C9302C;
}

.green {
	color: rgb(143,203,143);
}

.axis text {
	fill: #147FD7;
}

body {
	background: repeating-linear-gradient(
	-45deg,
	#2186d9,
	#2186d9 3px,
	#3e96de 3px,
	#3e96de 6px
	);
}

p {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

h4 {
	font-family: Helvetica, sans-serif;
	font-variant: small-caps;
	font-weight: 600;
}

ul {
	list-style-type: none;
	color: #147FD7;
}

li {
	padding-top: .25em;
	padding-left: 30px;
	text-indent: -1.5em;
}

li:before {
	content: "\f058";
	font-family: FontAwesome;
	color: #ff5757;
	margin-right: .4em;
}

hr.hr-blue {
	height: 2px;
	background: #147FD7;
	border-radius: 3px;
    margin-top: 11px;
}

hr.hr-green {
	height: 2px;
	background: rgb(143,203,143);
	border-radius: 3px;
}

path {
	stroke: #147FD7;
	stroke-width: 2;
	fill: none;
}

.axis path, .axis line {
	fill: none;
	stroke: #A6B6C6;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

#page {
	margin-top: 0px;
}

.pledgebtn {
    font-weight: 500;
    font-size: 1.4em;
    font-family: 'Raleway', sans-serif;
    margin: 7px;
}

.bernbanklogo {
    margin: 10px;
    margin-bottom: 10px;
}

.tagline {
    /*font-weight: 600;
    font-size: 1.4em;
    margin: 15px;
    color: #147FD7;
    font-family: 'Playfair Display SC', serif;*/
    font-weight: 700;
    font-size: 1.5em;
    margin: 25px;
    color: #147FD7;
    font-family: 'Raleway', sans-serif;
}

.homepoints {
    font-family: 'Lora', serif;
    font-size: 19px;
}

.pledgetocall {
    color:#147FD7;
    margin-top: 20px;
    margin-bottom: 25px;
    clear:both;
}

.subhead {
    font-weight: 600;
    font-size: 1.25em;
    margin: 25px;
    color: #147FD7;
    font-family: 'Raleway', sans-serif;
}


.donate-stats-numbers h4 {
	font-size:3em;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.wontbestopped {
    text-align: center;
    margin: 0px 0px 0px 25px;
    padding: 0px;
    font-size: 2em;
    font-family: 'Lora', sans-serif;
}

.foreveryvolunteer {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
}

.wontbestoppeddiv {
    padding: 10px;
}

.makecalls-bullet {
	padding-left:44px;
}

.homepoints {
    padding-left: 44px;
}

.foreveryvolunteer2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1em;
}

.wrapper-stopped {
	background-image: url("../img/bernie-port.jpg"); background-size: 100%;
}


.donatestats , .donatestats  p{
    font-family: 'Raleway', sans-serif !important;
}
.donate-stats {
    font-family: 'Raleway', sans-serif !important;
}



.aGraph {
    margin-top: 0px;
}

.pledgetocalllast {
    color:#147FD7;
    margin-top: 20px;
    clear:both;
    margin-bottom: 0px;
}

.pledgetocall2 {
    color:#147FD7;
    margin-top: 45px;
    margin-bottom: 25px;
    clear:both;
}

footer p {
	font-size: 18px;
	font-family: 'Raleway', sans-serif !important;
}

footer a {
	font-family: 'Raleway', sans-serif !important;
}


input[type=range]{
    /* fix for FF unable to apply focus style bug  */


    /*required for proper track sizing in FF*/
    width: 300px;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{

}

input[type=range]:focus::-moz-range-track {
    background: #ccc;
}

.stattext {
    font-family: 'Raleway', sans-serif !important;
    font-size: .7em;
}


.stattext p , .donate-stats p{
	font-size:16px !important;
}


.belowwontbestopped {
	color:white;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
}



.actbluelink {
    font-family: 'Lora', serif;
    font-size: 18px;
}

.lightred {
    color: #ff8383;
}

.fb-share-button {
    float: right;
    margin-left: 5px;
    margin-top: 8px;
}

.share-email {
	float: right;
}


